@tailwind base;
@tailwind components;
@tailwind utilities;

/* extras */
html { scroll-behavior: smooth; }
.glass { background: rgba(255,255,255,.7); backdrop-filter: blur(10px); }
.glass-dark { background: rgba(17,24,39,.6); backdrop-filter: blur(10px); }
.reveal { opacity: 0; transform: translateY(16px); transition: all .6s cubic-bezier(.2,.8,.2,1); }
.reveal.show { opacity: 1; transform: translateY(0); }
header .backdrop-blur a{
/* @apply text-black */
}
header .backdrop-blur a{
/* @apply dark:!text-white */
}
